#PTO-ALERT
{
	width: 100%;
	background-color: red;
	height: 100px;
	font-size: 26px;
	color:#ffffff;
	text-align:center;
	padding-top: 10px
}
#PTO-ALERT a
{
  	position:relative;
  	z-index: 9999;
	font-size: 26px;
	color:#0000EE;
}
#PTO-X{
	position: absolute !important;
	top: 5px;
	left: 15px;
	cursor: pointer;
	color: white !important;
}